<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{{title}}}</title>
</head>

<body>
  <div class="main-container">
    <header class="main-header">
      <p class="main-logo">My Logo</p>
    </header>

    <section class="main-wapper">
      <nav class="main-nav">
        <ul id="main_nav">
          <li data-current="{{{mainMenu}}}" data-key="home">
            <a href="/">首页</a>
          </li>
          <li data-current="{{{mainMenu}}}" data-key="simple_factory">
            <a href="/simple_factory">简单工厂模式</a>
          </li>
          <li data-current="{{{mainMenu}}}" data-key="abstract_factory">
            <a href="/abstract_factory">抽象工厂模式</a>
          </li>
          <li data-current="{{{mainMenu}}}" data-key="builder_factory">
            <a href="/builder_factory">建造者模式</a>
          </li>
          <li data-current="{{{mainMenu}}}" data-key="adapter_factory">
            <a href="/adapter_factory">适配器模式</a>
          </li>
          <li data-current="{{{mainMenu}}}" data-key="decorator_factory">
            <a href="/decorator_factory">装饰者模式</a>
          </li>
        </ul>
      </nav>

      <div class="main-content">
        {{{body}}}
      </div>
    </section>
  </div>
</body>

</html>