<h3>组合模式</h3>

<div class="row margin-t-20">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary" id="news">
      生成新闻
    </button>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-4" id="wapper">
    <!-- <ul class="news-container">
      <li class="icon">
        <a href="#" class="video">
          <i class="fas fa-video"></i>
          12345你好
        </a>
      </li>
      <li class="icon">
        <a href="#" class="headset">
          <i class="fas fa-headset"></i>
          12345你好
        </a>
      </li>
      <li class="type">
        <a href="#">
          [NBA]
          12345你好
        </a>
      </li>
      <li class="type">
        <a href="#">
          12345你好
          [NBA]
        </a>
      </li>
    </ul> -->
  </div>
</div>