<h3>Hello Cat</h3>

<button type="button" class="btn btn-primary" id="test_post">
  点击我post!!
</button>

<button type="button" class="btn btn-primary" id="test_option">
  点击我option!!
</button>

<button type="button" class="btn btn-primary" id="test_head">
  点击我HEAD!!
</button>

<button type="button" class="btn btn-primary" id="test_ask">
  点击我测试HTTP原生质询!!
</button>

<div class="row">
  <div class="col-sm-6">
    <h3>Service Worker</h3>
    <button type="button" class="btn btn-primary" id="test_sw_btn">
        点击我测试Service Worker!!
      </button>
    <ul>
      <li>浏览器是否支持：<span id="isSupport"></span></li>
      <li>service worker是否注册成功：<span id="isSuccess"></span></li>
      <li>当前注册状态：<span id="state"></span></li>
      <li>当前service worker状态：<span id="swState"></span></li>
    </ul>
  </div>
</div>