<h3>中介模式</h3>

<div class="row margin-t-20">
  <div class="col-md-12">
    <button type="button" 
      class="btn btn-success" 
      id="peter">
      Peter借书
    </button>

    <button type="button" 
      class="btn btn-warning" 
      id="peter_back">
      Peter还书
    </button>

    <button type="button" 
      class="btn btn-success" 
      id="mary">
      Mary借书
    </button>
    <button type="button" 
      class="btn btn-warning" 
      id="mary_back">
      Mary还书
    </button>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-6 back-list">
    <h5>Peter还的书：</h5>
    <ul id="peter_back_list"></ul>
  </div>
  <div class="col-md-6 back-list">
    <h5>Mary还的书：</h5>
    <ul id="mary_back_list"></ul>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-6 stock-list">
    <h5>原始库存：</h5>
    <ul id="orgain_stock"></ul>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-6 lend-list">
    <h5>借阅者列表：</h5>
    <ul id="lend_list"></ul>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-6 stock-list current">
    <h5>当前库存：</h5>
    <ul id="current_stock"></ul>
  </div>
</div>