<h3>观察者模式</h3>

<div class="row margin-t-20">
  <div class="col-md-12">
    <button type="button" 
      class="btn btn-success" 
      id="beijing">
      到达北京
    </button>

    <button type="button" 
      class="btn btn-success" 
      id="shanghai">
      到达上海
    </button>

    <button type="button" 
      class="btn btn-success" 
      id="guangzhou">
      到达广州
    </button>
  </div>
</div>

<div class="row margin-t-20 observers-wapper">
  <div class="col-md-4 area" id="beijing_area"></div>
  <div class="col-md-4 area" id="shanghai_area"></div>
  <div class="col-md-4 area" id="guangzhou_area"></div>
</div>