<h3>字典</h3>
<div class="row">
  <div class="col-sm-12">
    <p>字典：</p>
    <p>keys: <span id="dictionaryKeys"></span></p>
    <p>values: <span id="dictionaryValues"></span></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setDictionary"
    >
      配置集合
    </button>
  </div>
</div>

<h3 class="margin-t-50">散列表</h3>
<div class="row">
  <div class="col-sm-12">
    <p id="hashValues"></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setHashTable"
    >
      配置散列表
    </button>
  </div>
</div>

<h3 class="margin-t-50">分离链接散列表</h3>
<div class="row">
  <div class="col-sm-12">
    <p id="listHashValues"></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setListHashTable"
    >
      配置分离链接散列表
    </button>
  </div>
</div>

<h3 class="margin-t-50">线性探查散列表</h3>
<div class="row">
  <div class="col-sm-12">
    <p id="lineHashValues"></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setLineHashTable"
    >
      配置线性探查散列表
    </button>
  </div>
</div>