<div class="row">
  <div class="col-sm-12">
    <h3>邻接表法 - 图</h3>
    <img src="../../public/images/graph.jpg" alt="">
    <p>
      生成上图的图数据结构，邻接表：
    </p>
    <p><span id="simpleGraph"></span></p>
    <p>
      <button 
        type="button" 
        class="btn btn-primary" 
        id="setSimpleGraph"
      >
        开始
      </button>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>邻接表法 - 有向无环图</h3>
    <img src="../../public/images/dag_graph.jpg" alt="">
    <p>
      生成上图的图数据结构，邻接表：
    </p>
    <p><span id="dagGraph"></span></p>
    <p>
      拓扑序列：
      <span id="dagList"></span>
    </p>
    <p>
      <button 
        type="button" 
        class="btn btn-primary" 
        id="setDagGraph"
      >
        开始
      </button>
    </p>
  </div>
</div>