<div class="row">
  <div class="col-sm-12">
    <h3>简单链表</h3>
    <p>
      Alice, Tom, Ben 顺序插入，Amy 再插入至Alice之后
    </p>
    <p>结果：<span id="simpleLinkList"></span></p>
    <p>
      <button 
        type="button" 
        class="btn btn-primary" 
        id="setSimpleLinkList"
      >
        开始
      </button>
      <button 
        type="button" 
        class="btn btn-primary" 
        id="delSimpleLinkList"
      >
        删除Alice
      </button>
    </p>
  </div>
</div>

<div class="row margin-t-50">
    <div class="col-sm-12">
      <h3>双向链表</h3>
      <p>
        张三, 李四, 艾米 顺序插入，约翰 再插入至李四之后
      </p>
      <p>结果：<span id="doubleLinkList"></span></p>
      <p>
        <button 
          type="button" 
          class="btn btn-primary" 
          id="setDoubleLinkList"
        >
          开始
        </button>
        <button 
          type="button" 
          class="btn btn-primary" 
          id="delDoubleLinkList"
        >
          删除李四
        </button>
      </p>
    </div>
  </div>