<h3>最少硬币找零</h3>
<div class="row margin-t-30">
  <div class="col-sm-12">
    <p>面值：100, 50, 20, 10, 5, 1</p>
    <p>找零273元</p>
  </div>
  <div class="col-sm-12" id="changeResult"></div>
</div>

<h3 class="margin-t-50">01背包问题</h3>
<div class="row margin-t-30">
  <div class="col-sm-12">
    <p>背包能背的重量固定，装下价值尽可能高的东西（每个物品只有一件）</p>
    <h5>背包总重：10</h5>
    <table border="1">
      <thead>
        <tr>
          <th>Weight</th>
          <th>Vaule</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2</td>
          <td>6</td>
        </tr>
        <tr>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>6</td>
          <td>5</td>
        </tr>
        <tr>
          <td>5</td>
          <td>4</td>
        </tr>
        <tr>
          <td>4</td>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12" id="01BagResult"></div>
</div>

<h3 class="margin-t-50">贪心算法01背包问题</h3>
<div class="row margin-t-30">
  <div class="col-sm-12">
    <p>背包能背的重量固定，装下价值尽可能高的东西（每个物品只有一件）</p>
    <h5>背包总重：30</h5>
    <table border="1">
      <thead>
        <tr>
          <th>Weight</th>
          <th>Vaule</th>
          <th>比率</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5</td>
          <td>50</td>
          <td>10</td>
        </tr>
        <tr>
          <td>20</td>
          <td>140</td>
          <td>7</td>
        </tr>
        <tr>
          <td>10</td>
          <td>60</td>
          <td>6</td>
        </tr>
        <tr>
          <td>12</td>
          <td>60</td>
          <td>5</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12" id="ksack01BagResult"></div>
</div>