<h3>队列</h3>

<div class="row">
  <div class="col-sm-12">
    <h5>简单队列</h5>
    <p>结果： <span id="simpleQueue"></span></p>
    <button type="button" class="btn btn-primary" id="pushQueue">
      数据入队列
    </button>
  </div>
</div>

<div class="row margin-t-50">
  <div class="col-sm-12">
    <h5>优先队列</h5>
    <p>结果： <span id="priorityQueue"></span></p>
    <button type="button" class="btn btn-primary" id="pushPriorityQueue">
      数据入队列
    </button>
  </div>
</div>

<div class="row margin-t-50">
  <div class="col-sm-12">
    <h5>循环队列（接鼓传花）</h5>
    <div>
      <p>
        <span id="hotName">John,Jack,Camila,Ingrid,Carl</span>
        参加游戏
      </p>
      <p>计数：<span id="hotNum">7</span></p>
    </div>
    <div>
      <p>结果：</p>
      <p id="hotPotatoResult"></p>
    </div>
    <button type="button" class="btn btn-primary" id="hotPotato">
      开始
    </button>
  </div>
</div>