<h3>集合</h3>
<div class="row margin-t-30">
  <div class="col-sm-1">Set1：</div>
  <div class="col-sm-11" id="result"></div>
</div>
<div class="row margin-t-30">
  <div class="col-sm-1">Set2：</div>
  <div class="col-sm-11" id="result2"></div>
</div>
<div class="row margin-t-30">
  <div class="col-sm-1">并集：</div>
  <div class="col-sm-11" id="unionResult"></div>
</div>
<div class="row margin-t-30">
  <div class="col-sm-1">交集：</div>
  <div class="col-sm-11" id="intersectionResult"></div>
</div>
<div class="row margin-t-30">
  <div class="col-sm-1">差集：</div>
  <div class="col-sm-11" id="differenceResult"></div>
</div>
<div class="row margin-t-30">
  <div class="col-sm-12">
    <button type="button" class="btn btn-primary" id="set">
      配置集合
    </button>
    <button 
      type="button" 
      class="btn btn-primary" 
      id="union"
      disabled>
      求并集
    </button>
    <button 
      type="button" 
      class="btn btn-primary" 
      id="intersection"
      disabled>
      求交集
    </button>
    <button 
      type="button" 
      class="btn btn-primary" 
      id="difference"
      disabled>
      求差集
    </button>
  </div>
</div>