<h3>冒泡排序</h3>
<div class="row">
  <div class="col-sm-6">
    <img
      src="../../public/images/bubble_sort.gif"
      style="width: 70%"
    >
  </div>
  <div class="col-sm-12">
    对数组 [2, 5, 1, 20, 13, 3, 7, 100, 20, 66] 进行冒泡排序
  </div>
  <div class="col-sm-12">
    复杂度： O(n²)
  </div>
  <div class="col-sm-12" id="bubble"></div>
</div>

<h3 class="margin-t-30">选择排序</h3>
<div class="row">
  <div class="col-sm-6">
    <img
      src="../../public/images/select_sort.gif"
      style="width: 70%"
    >
  </div>
  <div class="col-sm-12">
    对数组 [2, 5, 1, 20, 13, 3, 7, 100, 20, 66] 进行选择排序
  </div>
  <div class="col-sm-12">
    复杂度： O(n²)
  </div>
  <div class="col-sm-12" id="select"></div>
</div>

<h3 class="margin-t-30">插入排序</h3>
<div class="row">
  <div class="col-sm-6">
    <img
      src="../../public/images/insert_sort.gif"
      style="width: 70%"
    >
  </div>
  <div class="col-sm-12">
    对数组 [2, 5, 1, 20, 13, 3, 7, 100, 20, 66] 进行插入排序
  </div>
  <div class="col-sm-12">
    复杂度： O(n²)
  </div>
  <div class="col-sm-12" id="insert"></div>
</div>

<h3 class="margin-t-30">快速排序(二分法)</h3>
<div class="row">
  <div class="col-sm-12">
    对数组 [2, 5, 1, 20, 13, 3, 7, 100, 20, 66] 进行快速排序
  </div>
  <div class="col-sm-12">
    复杂度： O(nlogn)
  </div>
  <div class="col-sm-12" id="quick"></div>
</div>

<h3 class="margin-t-30">堆排序</h3>
<div class="row">
  <div class="col-sm-12">
    对数组 [2, 5, 1, 20, 13, 3, 7, 100, 20, 66] 进行堆排序
  </div>
  <div class="col-sm-12">
    复杂度： O(nlogn)
  </div>
  <div class="col-sm-12" id="heap"></div>
</div>