<h3>二叉查询树</h3>
<div class="row">
  <div class="col-sm-12">
    <p>result: </p>
    <p id="BST"></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setBST" 
    >
      生成查询二叉树
    </button>
    <button 
      type="button" 
      class="btn btn-primary" 
      id="delBST" 
    >
      删除节点3
    </button>
  </div>
</div>

<h3 class="margin-t-50">平衡二叉树</h3>
<div class="row">
  <div class="col-sm-12">
    <p>result: </p>
    <p id="AVL"></p>
  </div>
  <div class="col-sm-12">
    <button 
      type="button" 
      class="btn btn-primary" 
      id="setAVL" 
    >
      生成平衡二叉树
    </button>
  </div>
</div>