<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>埋点信息准备</title>
</head>
<body>
  <h3>页面埋点 —— 性能分析</h3>

  <div class="row">
    <div class="col-sm-4">
      设备指纹： <span id="vid"></span>
    </div>
    <div class="col-sm-4">
      PageId： <span id="page_id"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      页面来源： <span id="resource"></span>
    </div>
    <div class="col-sm-4">
      重定向次数： <span id="redirectCount"></span>
    </div>
  </div>
</body>
</html>