<h3>抽象工厂模式</h3>

<div class="row margin-t-20">
  <div class="col-md-12">
    <h4>交通工具（工厂）</h4>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-12">
    <h5>Car（产品类）</h5>
    <button type="button" 
      class="btn btn-primary" 
      id="BMW">
      BMW（产品子类）
    </button>
    <button type="button" 
      class="btn btn-success" 
      id="Lamborghini">
      Lamborghini（产品子类）
    </button>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-12">
    <h5>Bus（产品类）</h5>
    <button type="button" 
      class="btn btn-primary" 
      id="YiQi">
      一汽公交（产品子类）
    </button>
    <button type="button" 
      class="btn btn-success" 
      id="ErQi">
      二汽公交（产品子类）
    </button>
  </div>
</div>
