<h3>建造者模式</h3>

<div class="row margin-t-20">
  <div class="col-md-12">
    <h5>用户</h5>
    <button type="button" 
      class="btn btn-primary" 
      id="zhangsan">
      张三
    </button>
    <button type="button" 
      class="btn btn-success" 
      id="lisi">
      李四
    </button>
  </div>
</div>

<div class="row margin-t-20">
  <div class="col-md-12">
    <h5>修改用户</h5>
    <button type="button" 
      class="btn btn-primary" 
      id="zhangsan_change">
      修改张三职位描述
    </button>
    <button type="button" 
      class="btn btn-success" 
      id="lisi_change">
      修改李四职位
    </button>
  </div>
</div>